html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* 1200px / 16px = 75em */
/* @media (max-width: 75em) {
    html {
        font-size: 60%;
    }
} */

/* 980px / 16px = 61.25em */
/* @media (max-width: 61.25em) {
    html {
        font-size: 58%;
    }
} */

/* 460px / 16px = 28.75em */
/* @media (max-width: 28.75em) {
    html {
        font-size: 55%;
    }
} */

.nav a {
    display: block;
    padding: 0.75rem 0.75rem;
    text-decoration: none;
    color: black;
    /* margin:  0; */
    /* border: 0px; */
}

.nav a:hover {
    text-decoration: underline;
}

.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    align-items: stretch;
    width: 100%;
    box-shadow: 0 0.5px 0;
    font-size: 1.5em;
    background-color: white;
    min-height: 3.25rem;
}

@media (max-width: 425px) {
    .nav {
        font-size: 1.25rem;
    }
}

footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-size: 1em;
    background-color: white;
}

footer img.regular {
    max-width: 25px;
}

footer img.tf {
    max-width: 32px;
}

footer img.gcp {
    max-width: 42px;
}

footer span.footer-label {
    margin-right: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 95vh;
    font-weight: normal;
}

.content {
    padding: 3rem 3rem;
    color: black;
    background-color: white;
    font-size: 1em;
    flex: 1;
}

.content h1 {
    font-size: 2em;
}

/* Full size */
@media screen and (min-width: 1024px) {
    .resume {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 0.25fr 1fr 1fr 1fr;
    
        grid-template-areas: 
        "name photo"
        "work core-skills"
        "work certifications"
        "work education";
    }
}

/* Tablet size */
@media screen and (max-width: 768px) {
    .resume {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto auto auto;
    
        grid-template-areas: 
        "name photo"
        "core-skills core-skills"
        "work work"
        "certifications certifications"
        "education education";
    }
}

@media screen and (max-width: 425px) {
    .resume {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "photo"
            "name"
            "core-skills"
            "work"
            "certifications"
            "education";
        grid-gap: 5px;
    }
}

.section-header {
    border: 1px black;
    border-style: solid none;
}

.position-wrapper {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-area {
    padding: 1em;
    /*border: 1px black solid;*/
}

.circle {
    border       : 1px solid black;
    height       : 280px;
    width        : 280px;
    border-radius: 50%;
    overflow: hidden;
}

.circle img {
    width: 100%;
    height: 100%;
}

.certification {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
}

.cert-image {
    max-width: 75px;
}

.cert-image img {
    width: 100%;
}

.job-desc {
    margin-right: 10px;
}

.name {
    grid-area: name;
    border: none;
    box-shadow: none;
}

.photo {
    grid-area: photo;
    border: none;
    box-shadow: none;
}

.core-skills {
    grid-area: core-skills;
}

.work {
    grid-area: work;
}

.certifications {
    grid-area: certifications;
}

.education {
    grid-area: education;
}