[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
black = "*"
pillow = "*"
gunicorn = "*"
django-storages = {extras = ["google"], version = "*"}
google-cloud-secret-manager = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.13"
