{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/newstyles.css' %}">
  </head>
  <body>
    <navbar id="navbar" class="nav">
      <a href="{% url 'core:home' %}">About</a>
      <a href="{% url 'core:resume' %}">Resume</a>
      <a href="{% url 'core:contact' %}">Contact</a>
      <a id="profile-link" target="_blank" href="https://www.github.com/ajpotts01">GitHub</a>
    </navbar>
    <div class="container">
      <main class="content">
        {% block content %}
        {% endblock %}
      </main>
    </div>
    <footer>
        <span class="footer-label">Built with</span>
        <a href="https://www.djangoproject.com" target="_blank">
            <img class="regular" src="{% static 'assets/django-small.png' %}">
        </a>
        <a href="https://www.terraform.io" target="_blank">
            <img class="tf" src="{% static 'assets/terraform-small.png' %}">
        </a>
        <a href="https://cloud.google.com" target="_blank">
            <img class="gcp" src="{% static 'assets/gcp-small.png' %}">
        </a>
    </footer>
  </body>
</html>