{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <navbar id="navbar" class="nav">
      <a href="{% url 'core:home' %}">About</a>
      <a href="{% url 'core:resume' %}">Resume</a>
      <a href="/blog">Blog</a>
      <a id="profile-link" target="_blank" href="https://www.github.com/ajpotts01">GitHub</a>
    </navbar>
    <main class="content">
      {% block content %}
      {% endblock %}
    </main>
    <footer>
        <span class="footer-label">Built with</span>
        <a href="https://www.djangoproject.com" target="_blank">
            <img class="regular" src="{% static 'assets/django-small.png' %}" alt="The Django project">
        </a>
        <a href="https://www.wagtail.org" target="_blank">
          <img class="regular" src="{% static 'assets/wagtail-small.png' %}" alt="Wagtail CMS">
        </a>
        <a href="https://www.terraform.io" target="_blank">
            <img class="tf" src="{% static 'assets/terraform-small.png' %}" alt="Terraform">
        </a>
        <a href="https://cloud.google.com" target="_blank">
            <img class="gcp" src="{% static 'assets/gcp-small.png' %}" alt="Google Cloud Platform">
        </a>
    </footer>
  </body>
</html>